.detail-panel{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    padding: 5px;
}

.form-control.is-valid:focus,
.was-validated :valid.form-control{
	border-color:inherit !important;
    background-image: inherit !important;
	box-shadow:inherit !important;
}

.todoList{
	max-height: 150px;
	overflow: auto;
}
