.gridPanel {
	display: inline-block;
	overflow:auto;
	margin:  15px 0;
}

.gridPanel th{
	white-space: nowrap;
}

.gridPanel tr.selected{
	background : lightblue !important;
}

.gridPanel td {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.gridPanel th:nth-child(1),
.gridPanel td:nth-child(1){
	width : 100%;
	max-width : 200px;
}

